body {
  background-color: #EBEBEB;
  text-align: center;
  color: #313030;
  font-family: Arial, Helvetica, sans-serif;
}
  
  ol {
  text-align: left;
}   

#boxes-container {
	background-color: grey;
	padding: 30px 0px;
	margin: 100px auto;
	width: 600px;
	height: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}


#box {
  width: 40%;
  height: 100%;
}

.red {
  background-color: #f20000;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.cyan {
	background-color: cyan;
}



