body {
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg"); 
    background-repeat:no-repeat; 
    background-size: cover;
    background-attachment: fixed;
  	text-align: center;
  	color: #ffffff;
  	font-family: Arial, Helvetica, sans-serif;

}
  

.column{
  width: 600px;
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 30px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  color: white;
}

#boxes-container {
	background-color: grey;
	padding: 30px 0px;
	margin: 50px auto;
	width: 600px;
	height: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
#box {
  	width: 40%;
  	height: 100%;
}
.red {
  	background-color: red;
}
.blue {
  	background-color: blue;
}
.orange {
  	background-color: orange;
}
.cyan {
	background-color: cyan;
}
.topimages {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  	max-width: 600px;

}

.hidden {
	display: none;
}

.button1{
	background-color: #EBEBEB;
	padding: 8px;
	border: 1px solid #000000;
	border-radius: 36px;
	font-size: 18px;
	font-weight: bold;
}

.container {
  position: relative;
  width: auto;
  max-width: 600px;
  margin: auto;
}

.container img {
	display: block;
  	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
}

.fwdbtn{
	position: absolute;
	top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
}

.bckbtn{
	position: absolute;
	top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
}


#playbtn{
	background-color: #EBEBEB;
	padding: 15px;
	border: 1px solid #000000;
	border-radius: 24px;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 85%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
}

#smallbuttons{
	position: absolute;
	width: 100%;
	top: 92%;
	margin-left: auto;
    margin-right: auto;
    
}

.smallbtn{
	background-color: #EBEBEB;
	display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin: 2px;
	border-radius: 12px;
	font-size: 2px;
	font-weight: bold;
}

.smallbtndark{
	background-color: #404040;
	display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
 	margin: 2px;
	border-radius: 12px;
	font-size: 2px;
	font-weight: bold;
}
